


h2 {
    color: green;
}

h1 {
    color: green;
}

.picture-container {
  width: 200px;
  heigh: 100px;
}

.character-preview{
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  display: inline-block;
  margin: 0 1em 1em 0;
  max-width: 200px;
  padding: 0;
  position: relative;
  width: 100%;
}

.character-preview img {
  margin: 0;
  width: 100%;

}
.character-preview h4 {
  color: salmon;
}
